{
  "parser": "babel-eslint",
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true,
    "browser": true
  },
  "extends": ["airbnb", "plugin:react/recommended"],
  "plugins": ["jest", "prettier", "react"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-mixed-operators": "off",
    "comma-dangle": "off",
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "max-len": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off",
    "function-paren-newline": "off",
    "react/forbid-prop-types": ["warn", { "forbid": ["array", "object"] }],
    "react/react-in-jsx-scope": "off",
    "arrow-parens": "off"
  }
}
